<p id="notice"><%= notice %></p>

<h1>User Personal Informations</h1>

<table>
  <thead>
    <tr>
      <th>Real name</th>
      <th>Address</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_personal_informations.each do |user_personal_information| %>
      <tr>
        <td><%= user_personal_information.real_name %></td>
        <td><%= user_personal_information.address %></td>
        <td><%= user_personal_information.user %></td>
        <td><%= link_to 'Show', user_personal_information %></td>
        <td><%= link_to 'Edit', edit_user_personal_information_path(user_personal_information) %></td>
        <td><%= link_to 'Destroy', user_personal_information, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Personal Information', new_user_personal_information_path %>
